<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="~/Content/styles.css" rel="stylesheet">

    <script>
        function openMenu(){
            document.querySelector(".sidebar").style.display = "grid";
        }
        function closeMenu(){
            document.querySelector(".sidebar").style.display = "none";
        }
        window.onresize = function() {
            if (window.innerWidth>=1076){
            document.querySelector(".sidebar").style.display = "none";
        }
        };
    </script>

</head>
<body>
    <div class="sidebar">
        <button id="m-btn" onclick="closeMenu()">&times; Close</button>
        <a href="home.html" id="sidebar-element">HOME</a>
        <a href="#" id="sidebar-element">ABOUT US</a>
        <a href="#" id="sidebar-element">BULLETIN</a>
        <a href="shows.html" id="sidebar-element">SHOWS</a>
        <a href="#" id="sidebar-element">VIDEOS</a>
        <a href="#" id="sidebar-element">PODCAST</a>
        <a href="SpecailProgram_rb.html" id="sidebar-element">SPECIAL PROGRAMS</a>
        <a href="#" id="sidebar-element">CONTACT US</a>
        <a href="feedback.html" id="sidebar-element">SUGGESTION</a>
        <a href="login.html" id="sidebar-element">LOGIN</a>
    </div>
    <!-- Header -->
    <div class="main-container">
        <!-- Header -->
        <div class="area-head">
            <div class="area-head-col">
                <img src="~/Content/Images/bharti_radio_logo.jpg" alt="Radio Bharati Logo" id="brand-img">

            </div>
            <div class="area-head-col">
                <div class="area-head-options">
                    <a href="home.html" class="option">HOME</a>
                    <a href="" class="option">ABOUT US</a>
                    <a href="" class="option">BULLETIN</a>
                    <a href="shows.html" class="option">SHOWS</a>
                    <a href="" class="option">VIDEOS</a>
                    <a href="" class="option">PODCAST</a>
                    <a href="SpecailProgram_rb.html" class="option">SPECIAL PROGRAMS</a>
                    <a href="" class="option">CONTACT US</a>
                    <a href="feedback.html" class="option">SUGGESTION</a>
                    <a href="login.html" class="option">LOGIN</a>
                    <div class="menu-btn">
                        <button id="m-btn" onclick="openMenu()">
                            <img width="64" height="64" src="https://img.icons8.com/sf-black/64/FA5252/menu.png" alt="menu" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="area-body">


            <div class="form-container">

                <div class="form-header">
                    <h1>Shows</h1>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>navratra</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" title="YouTube video player" frameborder="0"></iframe>
                            </div>
                            <p>Divya Drashti | Prerna | Divine Stories</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Dharm Yoddha Garud | Bhakti Sagar</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Mahakali Ant Hi Aarambh Hai | Audio Bharat</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Vrat, Parv, Utsav</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Vijayadasami Special | Audio Bharat</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Dhanteras Special | Audio Bharat</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Govardhan Puja Special | Audio Bharat</section>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Short Story Videos</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Shri Radha Krishna Leela | Art and Story</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Shakti | Story of Goddess Parvati</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Ram and Sita | Ramayan Story</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Chakra Jaane Pehchaane</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>"Chakra Jaane Pehchaane" Episode 1</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>"Chakra Jaane Pehchaane" Episode 2</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>"Chakra Jaane Pehchaane" Episode 3</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Hassi Ke Phuvare</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>HASSI KE PHUVARE | 11 | Audio Bharat</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>HASSI KE PHUVARE | 12 | Audio Bharat</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>HASSI KE PHUVARE | 13 | Audio Bharat</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Kananmtyu Ki Dastan</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Kananmtyu Ki Dastan | Episode 41</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Kananmtyu Ki Dastan | Episode 42</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Kananmtyu Ki Dastan | Episode 43</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

                <div class="form-header" style="margin-top: 40px;">
                    <h2>Panchtantra Ki Kahaniyan</h2>
                </div>
                <div class="video-section-container">
                    <div class="grid-container">
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Sher aur Chuha | Panchtantra</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Bandar aur Magarmach | Panchtantra</p>
                        </div>
                        <div class="video-item">
                            <div class="video-embed">
                                <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY" frameborder="0"></iframe>
                            </div>
                            <p>Kachua aur Khargosh | Panchtantra</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="load-more-btn">More</button>
                    </div>
                </div>

            </div>

        </div>

        <!-- Footer -->
        <div class="area-footer">
            <div class="footer-block">
                <h2>A-4, Paschim Vihar, Opp. Paschim Vihar (East) Metro Station, Rohtak Road, New Delhi, Delhi 110063</h2>
            </div>


        </div>
    </div>
</body>
</html>