@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="area-body">


    <div class="form-container">

        <div class="form-header">
            <h1>Shows</h1>
        </div>

        <div class="video-section-container">
            <div class="form-header">
                <h2>navratra</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                title="YouTube video player" frameborder="0"></iframe>
                    </div>
                    <p>Divya Drashti | Prerna | Divine Stories</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Dharm Yoddha Garud | Bhakti Sagar</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Mahakali Ant Hi Aarambh Hai | Audio Bharat</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Vrat, Parv, Utsav</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Vijayadasami Special | Audio Bharat</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Dhanteras Special | Audio Bharat</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Govardhan Puja Special | Audio Bharat</section>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Short Story Videos</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Shri Radha Krishna Leela | Art and Story</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Shakti | Story of Goddess Parvati</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Ram and Sita | Ramayan Story</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Chakra Jaane Pehchaane</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>"Chakra Jaane Pehchaane" Episode 1</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>"Chakra Jaane Pehchaane" Episode 2</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>"Chakra Jaane Pehchaane" Episode 3</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Hassi Ke Phuvare</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>HASSI KE PHUVARE | 11 | Audio Bharat</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>HASSI KE PHUVARE | 12 | Audio Bharat</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>HASSI KE PHUVARE | 13 | Audio Bharat</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Kananmtyu Ki Dastan</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Kananmtyu Ki Dastan | Episode 41</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Kananmtyu Ki Dastan | Episode 42</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Kananmtyu Ki Dastan | Episode 43</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

        <div class="video-section-container" style="margin-top: 40px;">
            <div class="form-header">
                <h2>Panchtantra Ki Kahaniyan</h2>
            </div>
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Sher aur Chuha | Panchtantra</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Bandar aur Magarmach | Panchtantra</p>
                </div>
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/QvgHweB1q-A?si=nwUEfYoVTjpl1RnY"
                                frameborder="0"></iframe>
                    </div>
                    <p>Kachua aur Khargosh | Panchtantra</p>
                </div>
            </div>
            <div class="button-container">
                <button class="load-more-btn">More</button>
            </div>
        </div>

    </div>

</div>