<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="~/Content/styles2.css" rel="stylesheet">


</head>
<body>
    <div class="sidebar">
        <button id="m-btn" onclick="closeMenu()">&times; Close</button>
        <a href="home.html" id="sidebar-element">HOME</a>
        <a href="/about-us" id="sidebar-element">ABOUT US</a>
        <a href="/bulletin" id="sidebar-element">BULLETIN</a>
        <a href="/shows" id="sidebar-element">SHOWS</a>
        <a href="/videos" id="sidebar-element">VIDEOS</a>
        <a href="/Home/Podcast" id="sidebar-element">PODCAST</a>
        <a href="/programs" id="sidebar-element">SPECIAL PROGRAMS</a>
        <a href="/contact-us" id="sidebar-element">CONTACT US</a>
        <a href="/feedback" id="sidebar-element">SUGGESTION</a>
        <a href="/Auth/login" id="sidebar-element">LOGIN</a>
    </div>

    <div class="main-container">

        <div class="area-head">
            <div class="area-head-col">
                <img src="~/Content/Images/bharti_radio_logo.jpg" alt="Radio Bharati Logo" id="brand-img">
            </div>
            <div class="area-head-col">
                <div class="area-head-options">
                    <a href="/" class="option">HOME</a>
                    <a href="/about-us" class="option">ABOUT US</a>
                    <a href="/bulletin" class="option">BULLETIN</a>
                    <a href="/Home/shows" class="option">SHOWS</a>
                    <a href="/Home/videos" class="option">VIDEOS</a>
                    <a href="/Home/podcast" class="option">PODCAST</a>
                    <a href="/programs" class="option">SPECIAL PROGRAMS</a>
                    <a href="/contact-us" class="option">CONTACT US</a>
                    <a href="/feedback" class="option">SUGGESTION</a>
                    <a href="/Auth/Login" class="option">LOGIN</a>
                    <div class="menu-btn">
                        <button id="m-btn" onclick="openMenu()">
                            <img width="64" height="64" src="https://img.icons8.com/sf-black/64/FA5252/menu.png" alt="menu" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
            @RenderBody()
        
        
        <div class="area-footer">
            <div class="footer-block">
                <h2>A-4, Paschim Vihar, Opp. Paschim Vihar (East) Metro Station, Rohtak Road, New Delhi, Delhi 110063</h2>
            </div>
        </div>

    </div>
</body>
<script src="~/Content/script2.js"></script>
</html>