
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="area-body">
    @*<h1 style="color:white;">Comming Soon...</h1>*@
    <div class="area-body" style="display:flex;flex-direction: column">
        <div class="form-container">
            <div class="form-header">
                <h1>videos</h1>
            </div>
        </div>
        <div class="video-section-container">
            <div class="grid-container">
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID1" allowfullscreen></iframe>
                        <p>लोकसभा चुनाव के दूसरे चरण के लिए अभियान जारी...</p>
                    </div>
                </div>

                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID2" allowfullscreen></iframe>
                        <p>पंचतंत्र की कहानियाँ | एपिसोड-33 “गौरैया और बंदर”</p>
                    </div>
                </div>

                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID3" allowfullscreen></iframe>
                        <p>Preparations are in full swing for second phase of Lok Sabha Elections</p>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID4" allowfullscreen></iframe>
                        <p>College Days Exclusive program | Radio Bharati</p>
                    </div>
                </div>

                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID5" allowfullscreen></iframe>
                        <p>लोकसभा चुनाव के दूसरे चरण के लिए प्रचार का आज अंतिम दिन</p>
                    </div>
                </div>

                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID6" allowfullscreen></iframe>
                        <p>लोकसभा चुनाव के पहले चरण के लिए नामांकन इस महीने की 25 तारीख...</p>
                    </div>
                </div>

                <!-- Row 3 -->
                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID7" allowfullscreen></iframe>
                        <p>लोकसभा चुनाव के दूसरे चरण के लिए प्रचार अभियान जोर...</p>
                    </div>
                </div>

                <div class="video-item">
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/VIDEO_ID8" allowfullscreen></iframe>
                        <p>पंचतंत्र की कहानियाँ | एपिसोड-32 “मगरमच्छ और बंदर”</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>